@import url('https://fonts.cdnfonts.com/css/didot-2');

*{
    color: #000;
}
.container-fluid{
    height: 130vh;
}
.col{
    box-shadow: 72px 56px 0px -3px;
    height: 40vh;
    width: 60%;
    background-image: url('/assets/images/cimento.jpg');
    background-size: contain;
}

h1{
    font-family: 'Didot', sans-serif;
    font-size: 3em;
    text-shadow: 1px 2px 3px #000;
}
.dois{
   color: aliceblue;
   text-shadow: 1px 2px 5px #fff;
}
em{
    font-size: 2em;
}
h3{
    font-size: 55px;
}
label{
    font-size: 25px;
}
input{
    background-color: aliceblue !important;}

.fields{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}
@media screen and (max-width: 425px) {
    em{
        font-size: 1em;
    }
    h1{
        font-size: 2em;
    }   
    .col{
        width: 100%;
    }
}