 <div class="container-fluid">
    <div class="col" style="display: flex; justify-content: end; align-items: end;"><h1><em>LEANDRO </em><h1 class="dois">CARVALHO</h1></h1></div>
    <br>
    <div class="col fields">
        <div class="w3-content w3-container w3-padding-64" id="contact">
            <h3 class="w3-center">COMO ENTRAR EM CONTATO</h3>
            <p class="w3-center"><em>Eu adoraria ouvir de você!</em></p>
        
            <div class="w3-row w3-padding-32 w3-section">
                <div class="w3-col m12 w3-panel w3-center">
                    <p>Pode utilizar do meio tradicional:</p>
                    <div class="w3-large w3-margin-bottom">
                        <i class="fa fa-map-marker fa-fw w3-xlarge w3-margin-right"></i> Curitiba, Paraná<br>
                        <i class="fa fa-envelope fa-fw w3-xlarge w3-margin-right"></i>leandrocarvalho227-gmail.com<br>
                    </div>
                    <p>Ou se preferir pode me encontrar aqui:</p>
                    <div class="w3-large w3-margin-bottom">
                        <i></i><a href="https://www.linkedin.com/in/leandro-carvalho-09481121b/" target="_blank"> LinkedIn</a><br>
                        <i></i><a href="https://github.com/LeandroCarvalho2022" target="_blank">GitHub</a><br>
                    </div>
                </div>
            </div>
        </div>

</div>
</div>
