<div class="container-fluid" style="margin-top: 35px;">
    <div class="row">
        <h3>Bem vindo a seção de Habilidades</h3>
    </div>
    <div class="row">
        <p>
            Nesta seção você pode ver toda a minha expertise para com o desenvolvimento Front-end. Atualmente iniciei meus estudos com
            o Docker.
        </p>
        <p>
            Na área 'Habilidades'  para escolher uma seção apenas clique em algum dos links (em azul), para mais detalhes.
        </p>
    </div>
</div>