<div class="container w3-center titlecolor w3padding-64">
    <h3>Quem eu sou</h3>
    <p class="w3-center">
        <em>Meu nome é Leandro</em>
    </p>
    <p class="w3start">Eu sou um Desenvolvedor de soluções para seu negócio.</p>
    <p class="w3start">Sou da linda Curitiba, uma grande cidade do Paraná. Sempre que posso tiro um tempo para viajar e tirar um descanso da correria.
        Gosto de escalar montanhas, acampar, comer de tudo um pouco e Amo ir pra academia! Então se quiser me encontrar ou me chame pra comer Ou pra treinar :D
    </p>
    <div class="w3-row">
        <div class="w3-col m6 w3-center w3-padding-large">
            <img class="w3-round w3-image w3-hover-opacity" style="height: 500px" src="assets/images/eumermo.jpeg" alt="Foto minha">
        </div>
        <div class="w3-col m6 w3-padding-large w3-large">
            <p>Comecei meus estudos na área de Engenharia de automação, fui introduzido a programação já no 1 ano de faculdade, 
                e foi ai que meu interesse surgiu.
            Fiz uma rede de contatos que cada vez mais me aproximou da área de técnologia, amigos, família foram os pilares para
                que eu construisse uma base sólida na área.
            Parei a faculdade de Engenharia de automação, e iniciei meu técnologo em Desenvolvimento de sistemas, 
                atualmente estou indo para meu 2 e ultimo período</p>
            <p>Para todos que estão com aquele sentimento de que estão perdidos eu indico ao menos dar uma chance e estudar um pouco sobre a área de tecnologia, 
                são tantas coisas que é quase impossivel você não encontrar alguma área do seu interesse!
            </p>
        </div>
    </div>
    
    <p class="w3-large w3-center w3-padding-16">Coisas que sou bom(Ou ao menos acredito ser):</p>
    <p class="w3-wide"><i class="fa fa-cutlery" aria-hidden="true"></i>Cozinhar</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-futbol-o" aria-hidden="true"></i>Esportes</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">85%</div>
    </div>
    <p class="w3-wide"><i class="fa fa-bomb" aria-hidden="true"></i>Piadas ruins</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
    </div>    

    <h3 class="w3-center" style="margin-top: 5%;">A caverna</h3>
    <p class="w3-center"><em>Aqui é aonde a magica acontece</em></p>
    <p>Atualmente este é o meu cantinho (Que já melhorou muito desde que comecei), construi tudo sozinho bancada, iluminação etc...</p>
    <p>.</p>
    <div class="w3-content w3-container w3-padding-64">
        <div class="w3-row-padding w3-center">
            <div class="w3-col m12">
                <img src="assets/images/spot.jpeg" 
                    style="width:100%; " class="w3-hover-opacity img" alt="Family">
            </div>
        </div>
    </div>
    <h3 class="w3-center">My Hobbies</h3>
    <p class="w3-center"><em>Viajar, Esportes, Comida... Não sei qual escolher</em></p>
    <p>Como já mencionei antes adoro viajar.</p>
    <div class="w3-row w3-center w3-dark-grey w3-padding-16">
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">8</span><br>
            Viagens
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">3</span><br>
            Países
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">8</span><br>
            Capitais
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">4</span><br>
            Trilhas
        </div>
    </div>
    <div class="w3-content w3-container w3-padding-64">
        <div class="w3-row-padding w3-center">
            <div class="w3-col m12">
                <img src="assets/images/tripRJ.jpeg"
                    style="width:100%; height: auto !important; "  class="w3-hover-opacity" alt="Riodejaneiro">
            </div>
        </div>
    </div>
    <h3 class="w3-center">Não vou extender muito... Tem muita foto haha</h3>
    <p style="padding-bottom: 50px;" class="w3-center"><em>Mas se quiser saber um pouco mais continue explorando o site !</em></p>
</div>