<div class="container-fluid" style="margin-top: 35px;">
    <div class="row">
        <h3>Olá</h3>
    </div>
    <div class="row">
        <p>
            Nesta seção você pode ver toda a minha experiência profissional relacionada ao Front-end, 
            deixando de lado as minha experiências como mecânico de empilhadeiras técnico ou outros trabalhos não relacionados.
        </p>
        <p>
            Clique na área 'Experiências' à esquerda para escolher uma seção e ver mais informações sobre ela.
        </p>
        <em>Atualmente 09/02/2024 possuo apenas experiências voluntárias, este ano vou começar a corrida e aplicar para trabalhos
             Freelance, PJ ou CLT!</em>
    </div>
</div>