<div class="container-fluid bgimg w3-round" style="height: fit-content;">
    <div class="row">
        <div class="col left jsicons" style="animation: opac 0.8s;">
        </div>

        <div class="col right" style="animation: opac 3.0s;">
            <h3 style="color: #F7DF1E; text-shadow: 1px 2px 3px black;">Javascript</h3>
            <em>Level: Compotent</em>
            <br>
            <ul>
                <li>Trabalho voluntariamente em 2 projetos web real.</li>
                <hr>
                <li>Com trabalhos pessoais realizei alguns projetos que você poderá ver na aba de projects</li>
            </ul>
        </div>
        <div class="col left typeicon" style="animation: opac 0.8s;">
        </div>

        <div class="col right" style="animation: opac 3.0s;">
            <h3 style="color: #007acc; text-shadow: 1px 2px 3px black;">Typescript</h3>
            <em>Level: Compotent</em>
            <br>
            <ul>
                <li>Trabalho voluntariamente em 1 projeto web real.</li>
                <hr>
                <li>Com trabalhos pessoais realizei alguns projetos que você poderá ver na aba de projects</li>
            </ul>
        </div>
        <div class="col left phpicon" style="animation: opac 0.8s;">
        </div>
        <div class="col right" style="animation: opac 3.0s;">
            <h3 style="color: #8892BF; text-shadow: 1px 2px 3px black;">PHP</h3>
            <em>Level: Compotent</em>
            <br>
            <ul>
                <li>Trabalho voluntariamente em 1 projeto web real.</li>
                <hr>
                <li>Até o momento não realizei nenhum projeto pessoal.</li>
            </ul>
        </div>
    </div>
    
</div>
