.container-fluid{
    min-height: 80vh;
}
.bgimg{
    background-image: url('/assets/images/langimg.jpg');
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jsicons{
    background-image: url('/assets/images/icons/jsicon.svg');
    background-size: contain;
}
.typeicon{
    background-image: url('/assets/images/icons/typescript.svg');
    background-size: contain;
}
.phpicon{
    background-image: url('/assets/images/icons/PHPicon.svg');
    background-size: contain;
}
.row{
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: -webkit-fill-available;
    flex-direction: column;
    color: aliceblue;
}
ul{
    padding: 5px;
}
.left{
    width: 35% !important;
    height: 100%;
}
.right{
    width: 65% !important;
    background-color: #666666;
    height: fit-content;
    border-radius: 0px 10px 10px 0px;
    padding: 3px;
    box-shadow: 1px 2px 3px black;
    margin-bottom: 10px;
}
@media screen and (max-width : 760px) {
    .left{
        display: none !important;
}
    .container-fluid{
        padding: 0 !important;
        height: fit-content !important;
    }
    .row{
        margin: 50px 0px 50px 0px !important;
        height: fit-content !important;
    }
    .right{
        margin: 10px !important;
    }

}

