<div class="container-fluid bgimg w3-round" style="height: 60vh;">
    <div class="row">
        <div class="col left jsicons" style="animation: opac 0.8s;">
        </div>

        <div class="col right" style="animation: opac 3.0s;">
            <h3 style="color: #B52E31; text-shadow: 1px 2px 3px black;">Angular</h3>
            <em>Level: Compotent</em>
            <br>
            <ul>
                <li>Trabalho voluntariamente em 1 projeto web real.</li>
                <hr>
                <li>Já tive experiência com componentização, http, ngrx, rxjs, mocks.</li>
            </ul>
        </div>
        <div class="col left typeicon" style="animation: opac 0.8s;">
        </div>

        <div class="col right" style="animation: opac 3.0s;">
            <h3 style="color: #ff2d20; text-shadow: 1px 2px 3px black;">Laravel</h3>
            <em>Level: Beginner</em>
            <br>
            <ul>
                <li>Trabalho voluntariamente em 1 projeto web real, atualmente estou sendo introduzido ao framework.</li>
                
            </ul>
        </div>
    </div>
    
</div>