body{
    color: #fff !important;
}

.container{
    min-height: 100vh;
}
.mainrow{
    width: 100%;
}
.list-group{
    margin-top: 20px;
    width: 100%;
}
.content{
    width: 100%;
}
.hidden{
    display: none !important;
}
@media screen and (max-width: 760px) {
    .mainrow{
        display: block !important;

    }
}