<section class="title container">
    <div class="row">
        <div class="col-md-12">
            <h1>Ebenezer Solutions</h1>
            <div class="seperator"></div>
            <p>Desenvolvedor Front-End Angular <em>Since 20/11/2023</em></p>
        </div>
    </div>
</section>

<div class="container" >
    <div class="row">
        <div class="col-md-6 item" style="animation: opac 0.8s;">
            <div class="item-in">
                <h4>Sobre a organização</h4>
                <div class="seperator"></div>
                <p>Somos uma startUp cheia de ambição e metas a cumprir! A EbenezerSolutions conta com um pequeno time de desenvolvedores
                    com senioridade de mais de 8 anos no mercado de tecnologia, com foco em criar soluções escaláveis para qualquer nicho.
                </p>
            </div>
        </div>
        <div class="col-md-6 item" style="animation: opac 2.0s;">
            <div class="item-in">
                <h4>Meu papel</h4>
                <div class="seperator"></div>
                <p>Atuo diretamente com sêniores especialistas com o framework Angular, estou responsável pela implementação de pequenos ajustes
                    no CMS das aplicações implementando a grade, design e funcionalidades!
                </p>

                    <button (click)="toggleHidden()">Ler mais</button>
            </div>
        </div>
        <div class="col-md-6 item hidden" [class.hidden]="isHidden" style="animation: opac 0.8s;">
            <div class="item-in">
                <h4>Toolbox</h4>
                <div class="seperator"></div>
                <p class="w3-large w3-center w3-padding-16">Ferramentas do dia-a-dia</p>
                <p class="w3-wide"><i aria-hidden="true"></i>TypeScript</p>
                <div class="w3-light-grey">
                    <div class="w3-container w3-padding-small w3-dark-grey w3-center " style="width:85%">75%</div>
                </div>
                <p class="w3-wide"><i aria-hidden="true"></i>Angular</p>
                <div class="w3-light-grey">
                    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:60%">60%</div>
                </div>
                <p class="w3-wide"><i aria-hidden="true"></i>JAVASCRIPT</p>
                <div class="w3-light-grey">
                    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:55%">55%</div>
                </div>
                <p class="w3-wide"><i aria-hidden="true"></i>HTML</p>
                <div class="w3-light-grey">
                    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:30%">30%</div>
                </div>
                <p class="w3-wide"><i aria-hidden="true"></i>Angular Material</p>
                <div class="w3-light-grey">
                    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:40%">40%</div>
                </div>
                <p class="w3-wide"><i aria-hidden="true"></i>Firebase</p>
                <div class="w3-light-grey">
                    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:60%">60%</div>
                </div>
                
                <button style="margin-top: 8px;" (click)="toggleHidden2()">Ler mais</button>
            </div>
        </div>
        <div class="col-md-6 item hidden2" [class.hidden2]="isHidden2" style="animation: opac 0.8s;">
            <div class="item-in">
                <h4>Trabalhos</h4>
                <div class="seperator"></div>
                <p>Atualmente estou trabalhando no desenvolvimento de uma aplicação escalável que conta com displays pensados em ser o mais 
                    amigável possível ao cliente, tendo fácil acesso a edição da aplicação, mudando produtos, criando posts e ofertas,
                    mudar o layout da aplicação (cor, temas, linguagem), a idéia central é fazer com que o cliente sinta-se independente do nosso
                    time, podendo realizar mudanças a hora que lhe for conveniente! Ainda não está no ar para que eu possa mostrar aqui como está
                    o andamento do projeto, estou com o prazo para terminar no final de maio então conforme atualizações eu vou adicionando nesta página aqui!
                </p>
    
            </div>
        </div>
    </div>

</div>
